functionsDirectory = "/home/scott/.openclaw/workspace/MahjongMastery/netlify/functions"
functionsDirectoryOrigin = "config"
redirectsOrigin = "config"
plugins = []
headers = []

[build]
publish = "/home/scott/.openclaw/workspace/MahjongMastery"
publishOrigin = "ui"
functions = "/home/scott/.openclaw/workspace/MahjongMastery/netlify/functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[functions]

[functions."*"]

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/:splat"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]